APP_NAME=Orders API
MONGO_URI=mongodb+srv://username:password@cluster0.mongodb.net/?retryWrites=true&w=majority
DATABASE_NAME=orders_db
JWT_SECRET=your-secret-key
JWT_ALGORITHM=HS256
RABBITMQ_URL=amqp://guest:guest@localhost/
